*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body,html{
    height: 100%;
    width: 100%;
}

.logo img{
    width: 100px;
}

.header{
    font-size: 5rem;
}

.desc{
    font-size: 1.5rem;
}

.container{
    background-color: #2b87d1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.startBtn{
    font-size: 1.2rem;
    padding: .5rem 4rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    font-weight: 600;
    background-color: #ffd154;
}

.startBtn:hover{
    background: #fff;
}


.number{
    font-size: 4rem;
}

.question{
    font-size: 2rem;
}

.userInput{
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 2rem;
    border: none;
    outline: none;
    border: 2px solid #45b1ff;
    border-radius: 2rem;
} 


.generatedNumber,.yourAnswer,.level{
    font-size: 2rem;
    color: #a0a0a0;
}

.randomNumber,.userLevel,.userAnswer{
     font-size: 2rem;
}


.loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 5s linear infinite;
  }
    .loader::after,
    .loader::before {
      content: '';
      width: 10px;
      height: 1px;
      background: #FFF;
      position: absolute;
      top: 9px;
      right: -2px;
      opacity: 0;
      transform: rotate(-45deg) translateX(0px);
      box-sizing: border-box;
      animation: coli1 0.3s linear infinite;
    }
    .loader::before {
      top: -4px;
      transform: rotate(45deg);
      animation: coli2 0.3s linear infinite;
    }
  
  @keyframes animFw {
      0% {
    width: 0;
  }
      100% {
    width: 100%;
  }
    }
  
  @keyframes coli1 {
      0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
      100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
    }
  
  @keyframes coli2 {
      0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
      100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
    }
    

    .logo img {
        animation: fade 1s infinite alternate; /* 3s is the duration, infinite makes it continuous, and alternate makes it go back and forth */
      }
      
      @keyframes fade {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0.3; /* Adjust opacity values as needed */
        }
      }

      